<fieldset id="transaction">
  <%= error_messages_for :transaction %>

  <div class="row">
    <%= label :transaction, :posted_on, 'Date effective' %>
    <%= text_field :transaction, :posted_on, :size => 10, :value => format_date(@transaction.posted_on) %>
<% unless @transaction.new_record? then -%>
    (<%= format_date(@transaction.created_at) %>)
<% end -%>
  </div>
  <div class="row">
    <%= label :transaction, :description, 'Description' %>
    <%= text_area :transaction, :description, :rows => 4, :cols => 40 %>
  </div>
</fieldset>

<fieldset id="accounts">
  <table class="list" cellspacing="0" cellpadding="0" width="100%">
    <caption>Liste des comptes de la transaction</caption>
    <col width="*2"/><col width="*5"/><col width="*3"/><col width="*3"/>
    <thead id="list-head">
      <tr>
        <th>No compte</th>
        <th>Nom</th>
        <th class="money">Montant débit</th>
        <th class="money">Montant crédit</th>
      </tr>
      <tr id="new-account">
        <td>
          <%= text_field(:nline, :no, :size => 10, :class => "account-selector") %>
          <%= hidden_field_tag 'line_count', @line_count %>
        </td>
        <td>&nbsp;</td>
        <td class="money"><%= text_field :nline, :amount_dt, :size => 8, :class => 'money' %></td>
        <td class="money"><%= text_field :nline, :amount_ct, :size => 8, :class => 'money' %></td>
      </tr>
      <tr>
        <td colspan="4" align="right">
          <%= link_to 'Ajouter', {:action => :add_line}, :class => 'add-account' %>
        </td>
      </tr>
    </thead>
    <tfoot>
      <tr id="txn-totals">
        <th colspan="2" align="right" scope="row">Volume:</th>
        <td class="money" id="txn_dt_volume"><%= format_money(@transaction.volume_dt) %></td>
        <td class="money" id="txn_ct_volume"><%= format_money(@transaction.volume_ct) %></td>
      </tr>
    </tfoot>
    <tbody id="list-body">
<%= render :partial => 'line', :collection => @transaction.lines, :locals => {:txn => @transaction} %>
    </tbody>
  </table>
</fieldset>

<div class="actions">
<% if @transaction.new_record? then -%>
  <%= submit_tag 'Enregistrer & Nouveau' %>
<% end -%>
  <%= submit_tag 'Enregistrer' %>
<% unless @transaction.new_record? then -%>
  <%= submit_tag 'Détruire', :name => 'destroy' %>
<% end -%>
  <%= link_to 'Abandonner', :action => :index %>
</div>
